{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Submit New Post</title>
</head>



<body>
<!-- <h1 align="center"><a href= "/blog">Welcome to Mikhail's Blog</a></h1> -->
<h2 align= "left">Please Submit New Post!</h2>

    <form method="post">
        <label>
            <div>Subject</div>
            <input type="text" name="subject" value="{{subject}}">
        </label>

        <label>
            <div>Content</div>
            <textarea name="content" style="height: 200px; width: 500px;">{{content}}</textarea>
        </label>

        <div class="error">{{error}}</div>
        <input type = "submit">
    </form>

</body>
</html>

{% endblock %} 